{% extends "base.html" %}

{% block title %}
<title>เกี่ยวกับเรา</title>
{% endblock %}

{% block content %}
<div class="container my-5 bg-white p-5 shadow-sm rounded">
    <h2 class="text-center mb-4 fw-bold">ภาพกิจกรรม</h2>
    <div class="row g-4">
        <div class="col-md-4">
            <img src="https://picsum.photos/id/111/600/400" alt="กิจกรรม 1" class="gallery-img shadow-sm">
        </div>
        <div class="col-md-4">
            <img src="https://picsum.photos/id/225/600/400" alt="กิจกรรม 2" class="gallery-img shadow-sm">
        </div>
        <div class="col-md-4">
            <img src="https://picsum.photos/id/312/600/400" alt="กิจกรรม 3" class="gallery-img shadow-sm">
        </div>
        <div class="col-md-4">
            <img src="https://picsum.photos/id/431/600/400" alt="กิจกรรม 4" class="gallery-img shadow-sm">
        </div>
        <div class="col-md-4">
            <img src="https://picsum.photos/id/106/600/400" alt="กิจกรรม 5" class="gallery-img shadow-sm">
        </div>
        <div class="col-md-4">
            <img src="https://picsum.photos/id/65/600/400" alt="กิจกรรม 6" class="gallery-img shadow-sm">
        </div>
        <div class="col-md-4">
            <img src="https://picsum.photos/id/37/600/400" alt="กิจกรรม 7" class="gallery-img shadow-sm">
        </div>
        <div class="col-md-4">
            <img src="https://picsum.photos/id/8/600/400" alt="กิจกรรม 8" class="gallery-img shadow-sm">
        </div>
        <div class="col-md-4">
            <img src="https://picsum.photos/id/9/600/400" alt="กิจกรรม 9" class="gallery-img shadow-sm">
        </div>
    </div>
</div>
{% endblock %}